{% extends "main/base.html" %}


{% block head %}
    <title>Register</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}



{% block body %}
	<div id="register-container" class="container">


		<h1 id="register">Register</h1>


		<form method="POST" class="form-group">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Email address"><br>
			<input type="password" name="password1" placeholder="Password"><br>
			<input type="password" name="password2" placeholder="Confirm Password"><br>
			<button type="submit" class="btn btn-outline-success">Register</button>
		</form>

		<p id="have-account">Have an account? Log in <a id="login-link" href="/login">here</a>.</p>
	</div>

{% endblock %}