{% extends 'main/base.html' %}

{% block head %}
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}


{% block body %}


        <h1 id="headline">Latest Deals & Steals!</h1>

        <div id="posts-container" class="container">

            {% for deal in deals %}

            <div id="post-row" class="row">

                <div class="post block col-sm">

                    <a href="{% url 'DealDetail' deal.pk %}">
                        <h2 id="post_title" class="subtitle">{{ deal.title }}</h2>
                    </a>

                    <div id="created_at" class="row justify-content-center">
                        <div class="col-4">
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js">
                                </script>
                                <lottie-player id="hr-lottie"
                                                src="https://assets6.lottiefiles.com/packages/lf20_mcgv3at1.json"
                                               background="transparent"
                                               speed="1"
                                                style="height: 35px"
                                               loop
                                               autoplay>
                                </lottie-player>
                        </div>
                        <div class="col-8" id="created_at_text">
                            Posted at  {{ deal.created_at}}
                        </div>


                    </div>

                    <img id="product-image" src="{{ deal.image.url}}"  alt="{{ deal.title }}">

                    <p id="post_body"> {{ deal.body }}</p>

                    <button id="code" type="button" class="btn btn-outline-success">
                        <div class="visible">
                            {% if user.is_authenticated %}
                                <div id ="holding-cell{{deal.id}}">
                                        Click to Reveal Code!
                                </div>
                                <script>
                               $(function (){
                                    $('#holding-cell{{deal.id}}').on('click', function(){

                                        $('#holding-cell{{deal.id}}').html('{{deal.code.code}}');
                                    });
                                });
                                </script>
                            {% else %}

                            <a id="register-for-code" href="{% url 'register' %}">
                                Register for Code

                            </a>


                            {% endif %}
                        </div>
                    </button>
                </div>

            </div>

            <hr class="hr">
            {% endfor %}
        </div>




{% endblock %}