@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

#post_body {
    margin-top: 15px;
    margin-bottom: 25px;
}

#code {
        height: 65px;
        min-width: 175px;
    }

#post_title {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Abel', sans-serif;
}

#product-image {
        max-height: 250px;
    }

 #headline {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        margin-bottom: 5px;
        font-family: 'Recursive', sans-serif;
}

#post-row {
    width: 100%;
}

#posts-container {
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}


#created_at {
    margin-top: 15px;
    margin-bottom: 15px;
}

#created_at_text {
    color: #757474;
}


@media only screen and (min-width: 768px) {
    #headline {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 45px;
        margin-bottom: 45px;
        font-family: 'Recursive', sans-serif;
    }


    .hr {
        margin-left: auto;

        margin-right: auto;
        margin-top: 35px;
        margin-bottom: 35px;
        border: 1px solid green;
          border-radius: 5px;
          width: 100%;
    }

    #holding-cell {
        width: 100px;
        height: 50px;
    }

    #code {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #post_title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #created_at {
        margin-bottom: 20px;
        font-size: 12px;
        width: 50%;
    }

    #created_at_text {
        margin-top: 1%;
        margin-left: -12%;
    }

    #post_body {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #posts-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    #post-row {
        margin-bottom: 35px;
    }

    #register-for-code {
        color: black;

    }

    #product-image {
        max-height: 250px;
    }
}