@media screen and (max-width: 500px) {


    #form-container {
        width: 90%;
    }

}



.login #container {
    border-radius: 10px !important;

}

.login .submit-row {
    padding: 0px !important;
}

.login #header {
    height: auto;
    padding: 8px !important;

}

#headline {
    font-size: 45px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
    margin-bottom: 25px;
}

#missing-account {
    margin-top: 15px;
    margin-bottom: 15px;
}

#register-link {
    color: #D15700;
    font-weight: 700;
}