

.login #container {
    border-radius: 10px !important;

}

.login .submit-row {
    padding: 0px !important;
}

.login #header {
    height: auto;
    padding: 8px !important;

}

#login-header {
    font-size: 45px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#missing-account {
    margin-top: 15px;
    margin-bottom: 15px;
}

#register-link {
    color: #D15700;
    font-weight: 700;
}

#form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}